@model System.Collections.Generic.List<TimeManager.Models.User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Users List</title>
</head>
<body>
<div>
      @foreach (var user in Model)
      {
          <ul>
              <li>@user.UserId</li>
              <li>@user.Name</li>
              <li>@user.AboutMe</li>
              <li>@user.Email</li>
              <li>@user.Password</li>
              <li>@user.UserImage</li>
          </ul>
      }
</div>
</body>
</html>